body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.calc-body{
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 30px;
}

#answer {
    color: white;
    font-size: 100px;
    display: flex;
    margin-bottom: 0;
    margin-left: 80%;
}